.card {
  background: rgba(159, 211, 199, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  background: transparent;
  padding: 0%;
  margin: 0%;
  font-size: 18px;
}

.current-weather-icon {
  text-align: center;
}

a {
  text-decoration: none;
}

.search-city-form .col-2 {
  padding: 0;
}

.search-button,
.current-position-button {
  margin: 5px 8px;
}

.current-city,
.country,
.current-temp,
.forecast-day {
  color: #142d4c;
  font-weight: bold;
}

.current-max-temp,
.forecast-day,
.max-temp {
  font-weight: bold;
}

.current-temp {
  font-size: 50px;
  line-height: 35px;
}

.current-max-min {
  position: relative;
  bottom: -5px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -22px;
}

.active {
  color: #142d4c;
  cursor: default;
  font-weight: bold;
}

.col .right-column {
  text-align: right;
}

.last-update,
.left-column,
.right-column,
.col {
  color: grey;
}

.weather-description,
.current-city {
  text-transform: capitalize;
}

.WeatherForecast .col {
  text-align: center;
}

@media (max-width: 576px) {
  .search-city-form .col-2 {
    padding: 0;
  }

  .search-button {
    margin: 5px 3px 5px 0;
  }

  .current-position-button {
    margin: 5px 3px;
  }
  .WeatherInfo .row {
    display: grid;
    grid-template-columns: 0.8fr 0.3fr 1fr;
  }

  .center-column,
  .right-column {
    text-align: center;
  }

  .WeatherForecast .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}
