.card {
  background: rgba(159, 211, 199, 0.5);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.2);
}

button {
  border: none;
  background: transparent;
  padding: 0%;
  margin: 0%;
  font-size: 18px;
}

canvas {
  float: left;
  position: relative;
  top: -4px;
}

a {
  text-decoration: none;
}

.search-button {
  position: relative;
  left: -7px;
  bottom: -7px;
}

.current-position-button {
  position: relative;
  left: 5px;
  bottom: -7px;
}

.current-city,
.country,
.current-temp,
.forecast-day {
  color: #142d4c;
  font-weight: bold;
}

.current-max-temp,
.forecast-day,
.max-temp {
  font-weight: bold;
}

.current-temp {
  font-size: 50px;
  line-height: 35px;
}

.current-max-min {
  position: relative;
  bottom: -5px;
}

.units {
  font-size: 18px;
  position: relative;
  top: -22px;
}

.active {
  color: #142d4c;
  cursor: default;
  font-weight: bold;
}

.right-column {
  text-align: right;
}

.last-update,
.left-column,
.right-column,
.col {
  color: grey;
}

.weather-description,
.current-city {
  text-transform: capitalize;
}
